.container {
  margin: 0 auto;  
  width: 720px;
}
#flip {
  position: fixed;
  background-color: #aaa;
  left: 0;
  width: 50px;
  border-right: 2px gray;
  height: 100%; 
}
.btn {
  position: absolute;
  right: 10px;
  top:0;
}
/*button {
  position: relative;
  right: 5px;
}*/
nav {
  /*display: none;*/
  position: fixed;
  background-color: #aaa;
  left: -150px;
  width: 150px;
  border-right: 2px gray;
  height: 100%; 
}

ul {
  padding-left: 0;
}

nav ul li{
  border-bottom: 1px solid black;
  list-style-type: none;
  padding: 8px;

}
a {
  text-decoration: none;
  color: black;

}
.content {
  margin-left: 50px;
  position: relative;
  left: 110px;
  top: 20px;

}
h1 {
  margin-top: 0;
}
header {
/*   margin-top: 20px;
*/
}
